{# src/Sdz/BlogBundle/Resources/views/Blog/menu.html.twig #}
{# Ce template n'hérite de personne, tout comme le template inclus avec {% include %}. #}

{# menu navigation bootstrap à mettre à un niveau au dessus plus tard#}
{#<ul>#}
    {#<ul class="nav nav-pills nav-stacked">#}
        {#{% for article in liste_articles %}#}
            {#<li><a href="{{ path('sdzblog_voir', {'id': article.id}) }}">{{#}
                    {#article.titre }}</a></li>#}
        {#{% endfor %}#}
    {#</ul>#}
{#</ul>#}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
          {#Navigation button for little resolution (smartphone etc....)#}
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Kahel Thème</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ path('sdzblog_accueil', {'page': 1}) }}">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Articles<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for article in liste_articles %}
                        <li><a href="{{ path('sdzblog_voir', {'slug': article.slug}) }}">{{
                        article.titre }}</a></li>
                        {% endfor %}
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Actions</li>
                        <li><a href="{{ path('sdzblog_ajouter') }}">Ajouter un article</a></li>
                    </ul>
                </li>

                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>