{# src/Sdz/BlogBundle/Resources/views/Blog/voir.html.twig #}
{% extends "SdzBlogBundle::layout.html.twig" %}
{% block title %}
    Lecture d'un article - {{ parent() }}
{% endblock %}
{% block sdzblog_body %}
    <div id="article">
        <h2>
            {# On vérifie qu'une image soit bien associée à l'article #}
            {% if article.image is not null %}
                <img src="{{  asset(article.image.webpath) }}" alt="{{ article.image.alt }}" />
            {% endif %}
            {{ article.titre }}
        </h2>
        <i>Par {{ article.auteur }}, le {{ article.date|date('d/m/Y') }}</i>

        {% if article.categories.count > 0 %}
            - Catégories :
            {% for categorie in article.categories %}
                {{ categorie.nom }}
                {% if not loop.last %} - {% endif %}
            {% endfor %}
        {% endif %}

        <div class="well">
            {{ article.contenu }}
        </div>
        {% if article.competenceArticles|length > 0 %}
            <div>
                Compétences utilisées dans cet article :
                <ul>
                    {% for articleCompetence in article.competenceArticles %}
                        <li>{{ articleCompetence.competence.nom }} : {{ articleCompetence.niveau }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <p>
            <a href="{{ path('sdzblog_accueil') }}" class="btn">
                <i class="icon-chevron-left"></i>
                Retour à la liste
            </a>
            <a href="{{ path('sdzblog_modifier', {'slug': article.slug}) }}"
               class="btn">
                <i class="icon-edit"></i>
                Modifier l'article
            </a>
            <a class="btn" data-toggle="modal" data-target="#myModal">
                <i class="icon-trash"></i>
                Supprimer l'article
            </a>
        </p>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body" id="msg-body">
                    Êtes-vous sûr de vouloir supprimer l'article "{{ article.titre }}" ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-danger" data-form="formSup" onclick="supprimer(this)">Supprimer</button>
                </div>
            </div>
        </div>
    </div>

    {{ form_start(form, {'method': 'post','id':"formSup",'action': path('sdzblog_supprimer', {'slug':article.slug}) }) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

    <script type="text/javascript">
        function supprimer(button)
        {
            debugger;
            $('#myModal').modal('hide');
            if($(button).data("form") == undefined)
                console.log("Error data-form undefined");
            else
            {
                var form = $('#'+$(button).data('form'));
                var data = form.serialize();
                $.ajax({
                    method: form.attr('method'),
                    url: form.attr('action'),
                    data: data,
                    dataType : 'json',
                    success : function(result, statut){
                        debugger;
                        showMessage(result);
                    },
                    error : function(resultat,statut,erreur){
                        showMessage({success : false, msg : erreur});
                    }
                });
            }
        }

        function showMessage(result)
        {
            var message = $('<div id="showMessage" class="alert" role="alert"></div>');
            message.addClass(result.success ? "alert-success" : "alert-warning");
            message.append(result.msg);
            $('#article').prepend(message);
            if(result.success)
                setTimeout(redirectHome,2000);
        }

        function redirectHome()
        {
            // similar behavior as an HTTP redirect
            window.location.replace('{{ path('sdzblog_accueil') }}');
        }
    </script>

{% endblock %}